<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Computer Science</h1>
            <span>Federal University of Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2018 to now</time></span>
        </header>
        <p>
            <em>Dissertation: Detailed Routing</em>
            <!-- <span><strong>English Translation:</strong> Exploiting Non-Critical Steiner Tree Branches on Post-Placement Timing Optimization</span> -->
        </p>
    </article>
    <article>
        <header>
            <h1>M.Sc. in Computer Science</h1>
            <span>Federal University of Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2016 to 2018</time></span>
        </header>
        <p>
            <em>Dissertation: Posicionamento incremental de registradores considerando obstáculos e clusters</em>
            <span><strong>English Translation:</strong> Incremental Positioning of Registers Considering Obstacles and Clusters </span>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>Federal University of Santa Catarina - UFSC</span>
            <span><address>Florianópolis - SC, Brazil</address><time>2011 to 2016</time></span>
        </header>
        <p>
            <em>Course completion assignment: Geração de Árvore de Relógio para Avaliação de Posicionamento de Circuitos Integrados.</em>
            <span><strong>English Translation:</strong> Clock Tree Generation for Integrated Circuit Positioning Evaluation. </span>
        </p>
    </article>
</section>
